<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EVMS | Working</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <style>


        </style>

    </head>

    <body>
        
        <div class="container">

            <div class="pt-4">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Emergency Vehicle Management System</h1>
                        <p class="lead">Emergency Vehicle Management System based on Mobile App for emergency vehicle user and an Admin Panel for Administrator.</p>
                    </div>
                </div>
            </div>    

        </div>


        <!---EVMS Intro-->
        <div class="container" style="padding-left: 70px;">
            <div class="col-md-6">
                <img src="about2.jpg" alt="" height="650px" width="">
            </div>
        </div>   
        
        <!---EVMS Working-->
        <div class="container" >
            <div class="col-md-6 text-center">
                <img src="about-s.jpg" alt="" height="650px" width="">
            </div>
        </div> 

        <!---EVMS Illustration-->
        <div class="container">
            <div class="text-center">
                <img src="illustration1.jpg" alt="" height="1000px" width="">
            </div>
        </div> 
               


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </body>

</html>